.dp
{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}

.sameline
{
    display:inline;
}

.dropdown-toggle:after {
    display: none !important; 
  }

.post{
    
    /* border-color:#fff;
    box-shadow: 0 0 2rem #9cfff5,
                0 0 0.5rem #fff; */
}

.profilepic
{
    width: 7rem;
    height: 7rem;
}

.secondary{
    /* background-color: #ffd666 !important; */
    background-color: #00ccfa !important;
}



.postimg{
    object-fit:'contain';
    max-height:40rem;
    max-width:100%;
}

.background{
    background-color: #062442;
}

@keyframes pulsating {
    0%{
        box-shadow:  0 0 0.5rem #fff,
                    0 0 1rem #fff,
                    0 0 0.2rem #fff,
                     0 0 0.2rem #66e8ff,
                    0 0  0.8rem #66e8ff,
                    0 0 2rem #66e8ff;   
    }
    50%{
        box-shadow:  0 0 0.5rem #fff,
                    0 0 1rem #fff,
                    0 0 0.2rem #fff,
                     0 0 0.2rem #66e8ff,
                    0 0 1rem #66e8ff,
                    0 0 3rem #66e8ff;   
    }
    
}

.card{
    border-color:#fff;
    box-shadow:  0 0 0.5rem #fff,
    0 0 1rem #fff,
    0 0 0.2rem #fff,
     0 0 0.2rem #66e8ff,
    0 0  0.8rem #66e8ff,
    0 0 2rem #66e8ff;
    animation-name: pulsating;
    animation-duration: 4s; 
    animation-iteration-count: infinite;                  

                
}